@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
#root,
html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	box-sizing: border-box;
	font-family: 'Bree Serif', serif;
}

.app {
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('./images/wisdombaba.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	display: flex;
}
.card {
	background: rgba(85, 94, 110, 0.2);
	width: 40rem;
	height: 10rem;
	margin: 10% 0 0 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 25px;
	padding: 2%;
}
h2::selection {
	background: #eafffd70;
}

.button {
	width: 35%;
	padding: 8px 6px;
	background: rgba(255, 175, 76, 0.6);
	border-radius: 15px;
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	cursor: pointer;
	transition: 0.2s all;
	border: none;
	outline: none;
}
.button:hover {
	background: rgba(240, 157, 57, 0.6);
}
.button:active {
	transform: scale(0.98);
}
span {
	font-weight: 400;
	font-family: 'Bree Serif';
}
@media (max-width: 1168px) {
	.card {
		width: 35rem;
	}
}
@media (max-width: 1026px) {
	.card {
		width: 30rem;
		height: 13rem;
	}
}
@media (max-width: 986px) {
	.card {
		margin: 5% 0 0 5%;
	}
}
@media (max-width: 810px) {
	.card {
		width: 25rem;
		height: 20rem;
	}
}
@media (max-width: 674px) {
	.app {
		background-position: right;
	}
	.card {
		margin: 40px auto;
		width: 18rem;
		height: 20rem;
	}
	h2 {
		font-weight: 100;
		color: white;
	}
	.button {
		width: 50%;
	}
}
